body {
    min-width: 320px;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    flex-grow: 1;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;
}
.subtitle {
    font-size: 30px;
    font-weight: normal;
    line-height: 1.2;
    color: #445161;
    margin-bottom: 30px;
    text-align: center;
}
.text {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
.list {
    list-style: none;
    font-size: 20px;
    line-height: 1.8;
}
.img {
    object-fit: cover;
}

.btn {
    background-color: #fff;
    border: 2px solid #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    color: #445161;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    height: 40px;
    transition: background-color .3s ease, color .3s ease;

    &:hover {
        cursor: pointer;
        background-color: #445161;
        border: 2px solid #fff;
        color: #fff;
    }
    &:focus,
    &:active {
        outline: none;
        box-shadow: 0 0 1px 2px #35b83e;
    }
}

$bg_light: #f5f5f5;

.header {
    background-color: #4d4d4d;
    color: #fff;

    .container {
        display: flex;
        justify-content: space-between;
    }

    &__col {
        width: 50%;
    }

    &__title {
        font-size: 60px;
        margin-bottom: 50px;
        font-weight: normal;
    }

    &__item {
        padding-left: 35px;
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 25px;
            height: 19px;
            background-image: url(../img/check-icon.png);
        }
    }

    &__img {
        height: 250px;
        width: 40%;
    }

}

.about {
    &.container {
        display: flex;
        justify-content: space-between;
    }

    &__col {
        width: 70%;
        padding-right: 40px;
        box-sizing: border-box;
    }

    &__title {
        text-align: left;
    }

    &__text {
        margin-bottom: 20px;
    }
/*
    &__img {
        height: 250px;
        width: 30%;
    }
*/
    &__video {
        &:focus {
            outline: none;
            box-shadow: 0 0 1px 2px #35b83e;
        }
    }
}

.dignity {
    background-color: $bg_light;
    
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        max-width: 50%;
        margin-bottom: 36px;
        position: relative;
        padding-left: 42px;
        box-sizing: border-box;

        &:nth-child(odd) {
            padding-right: 16px;
            box-sizing: border-box;;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 32px;
            height: 32px;
            background-image: url(../img/plus-icon.png);
        }
    }

}
.screenshots {
    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin-bottom: 30px;
        width: 50%;
        box-sizing: border-box;
        display: flex;

        &:nth-child(odd) {
            padding-right: 16px;
            box-sizing: border-box;;
        }

        &-content {
            padding-left: 15px;
        }

        &-title {
            font-size: 24px;
            line-height: 1.25;
            color: #445161;
            margin-bottom: 15px;
            font-weight: normal;
        }
    }

    &__img {
        width: 200px;
        height: 150px;
    }
}

.reviews {
    background-color: $bg_light;

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        width: 50%;
        margin-bottom: 24px;

        &:nth-child(odd) {
            padding-right: 16px;
            box-sizing: border-box;
        }
    }

    &__comment {
        background-color: #ebebeb;
        border-radius: 5px;
        padding: 16px 20px 16px 27px;
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            border: 12px solid transparent; 
            border-right: 12px solid #ebebeb;
            left: -24px;
            top: 30px;
        }
    }

    &__text {
        margin-bottom: 15px;
        font-style: italic;
    }

    &__name {
        font-size: 14px;
        line-height: 1.29;
        color: #989898;
    }


    &__img {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        margin-right: 16px;
    }
}
.price {
    &__cols {
        display: flex;
        color: #fff;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__col {
        background-color: #445162;
        width: 33.333%;
        max-width: 300px;
        border: 2px solid #445162;
        border-radius: 5px;

        &-title {
            text-align: center;
            line-height: 1.25;
            font-size: 24px;
            padding: 16px 0;
        }

        &-value {
            background-color: #fff;
            font-size: 40px;
            line-height: 0.75;
            color: #445162;
            padding: 18px 0;
            text-align: center;
        }

        &-description {
            padding: 20px;
        }

        &-list {
            margin-bottom: 20px;
            list-style-position: inside;
        }

        &-item {
            font-size: 14px;
            line-height: 24px;
        }

        &-btn {
            width: 100%;
        }
    }
}
.footer {
    .contacts {
        background-color: #445162;
    
        &__title {
            color: #fff;
        }

        &__wrapper {
            display: flex;
            padding: 0 100px;
        }
    
        &__form {
            display: flex;
            flex-direction: column;
            width: 65%;
            padding-right: 46px;
    
            &-input {
                margin-bottom: 20px;
                border-radius: 5px;
                padding: 10px 14px;
                font-size: 16px;
                line-height: 1.5;
                color: #445162;
                border: none;
                font-family: Arial, Helvetica, sans-serif;

                &:focus,
                &:active {
                    outline: none;
                    box-shadow: 0 0 1px 2px #35b83e;
                }
            }
        }
    
        &__btn {
            width: 140px;
            margin: 0 auto;
        }

        &__list {
            padding-left: 30px;
            margin-bottom: 30px;
        }
    
        &__item {
            position: relative;
    
            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -30px;
            }
    
            &--skype::before {
                background-image: url(../img/skype-icon.png);
                width: 24px;
                height: 26px;
            }
            &--icq::before {
                background-image: url(../img/icq-icon.png);
                width: 26px;
                height: 26px;
            }
            &--email::before {
                background-image: url(../img/email-icon.png);
                width: 22px;
                height: 22px;
            }
            &--phone::before {
                background-image: url(../img/phone-icon.png);
                width: 24px;
                height: 23px;
            }
        }

        &__link {
            color: #fff;
            text-decoration: none;
            transition: color .3s ease;

            &:hover {
                cursor: pointer;
                color: #8e97a0;
            }
            &:focus,
            &:active {
                outline: none;
                box-shadow: 0 0 1px 2px #35b83e;
            }
        }

        &__social {
            list-style: none;
            display: flex;

            &-link {
                background-image: url(../img/social-buttons.png);
                background-repeat: no-repeat;
                height: 44px;
                width: 44px;
                display: inline-block;
                margin-right: 6px;

                &--twitter {
                    background-position: -0 top;
                }
                &--facebook {
                    background-position: -49px top;
                }
                &--linkedin {
                    background-position: -98px top;
                }
                &--google {
                    background-position: -149px top;
                }
                &--youtube {
                    background-position: -198px top;
                }

                &:focus,
                &:active {
                    outline: none;
                    box-shadow: 0 0 1px 2px #35b83e;
                }
            }
        }
    }
    background-color: $bg_light;

   

    &__coopyright {
        text-align: center;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.3px;
        color: #445162;
    }
}